<!--&lt;!&ndash; Preloader Start &ndash;&gt;-->
<!--<div id="preloader">-->
  <!--<div id="preloader-status"></div>-->
<!--</div>-->
<!--&lt;!&ndash; Preloader End &ndash;&gt;-->


<!-- Page Heading Section Start -->
<div class="pagehding-sec">
  <div class="images-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h1>Nous contacter</h1>
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Nous contacter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Heading Section End -->

<!-- Contact Section Start -->
<section class="contact-form-sec pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="contact-field">
          <h2>Nous envoyer un message</h2>
          <form class="form-group" #contactForm="ngForm" (ngSubmit)="contacter()">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-input-field">
                <h4>Nom (obligatoire) </h4>
                <input type="text" #nom="ngModel" [(ngModel)]="contact.nom" name="nom" required/>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-input-field">
                <h4>E-mail (obligatoire)</h4>
                <input type="email" #prenom="ngModel" [(ngModel)]="contact.email" name="email" required/>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-input-field">
                <h4>Sujet (Obligatoire)</h4>
                <input type="text" #sujet="ngModel" [(ngModel)]="contact.sujet" name="sujet" required/>
              </div>
            </div>
            <div class="col-md-12 message-input">
              <div class="single-input-field">
                <h4>Message (Obligatoire)</h4>
                <textarea #nom="ngModel" [(ngModel)]="contact.message" name="message" required></textarea>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="single-input-fieldsbtn">

                <input type="submit" value="Envoyer"/>

              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-4">
        <div class="contact-person">
          <h1>bureau principale</h1>
          <div class="single-info">
            <h2>Adresse</h2>
            <p>Atrium, 104 Boulevard Marius Vivier Merle, 69003 Lyon</p>
          </div>
          <div class="single-info">
            <h2>Email: </h2>
            <p>yourdomain@gmail.com</p>
          </div>
          <div class="single-info">
            <h2>Telephone:</h2>
            <p>(+33) 666 666 666</p>
          </div>
          <div class="single-info">
            <h2>Skype:</h2>
            <p>your_skype</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Google Map Section Start -->
    <div class="row">
      <div class="col-md-12">
        <div class="map-heading">
          <h2>Nous localiser</h2>
        </div>
        <div class="map-sec">
          <iframe src="https://www.google.com/maps?q=5 Place Charles Béraudier, 69003 Lyon&output=embed" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <!-- Google Map Section End -->
  </div>
</section>
<!-- Contact Section End -->

<!-- Footer Section Start -->
<footer>

  <!-- Footer Bottom Section Start -->
  <div class="footer-bottom-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copy-right">
            <p>&copy; 2017 Lyon Auto Clean Service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Section End -->
</footer>
