<div class="container">
  <div class="row">
    <div class="login">
      <div class="login-triangle"></div>

      <h2 class="login-header" align="center">Vos informations</h2>
      <div align="center" *ngIf="erreurLogin"><span class="erreur">{{erreurLogin}}</span></div>
      <div align="center" *ngIf="successLogin"><span class="success">{{erreurLogin}}</span></div>
      <form class="login-container" #loginForm="ngForm" (ngSubmit)="login($event)" autocomplete="off">
        <p><input [(ngModel)]="user.email" name="email" placeholder="Email" type="email" class="{{classLogin}}" required></p>
        <p><input [(ngModel)]="user.mdp" name="mdp" type="password" placeholder="Password" class="{{classPassword}}"
             required minlengh="8" #mdp="ngModel"></p>
        <div *ngIf="mdp.invalid && (mdp.dirty || mdp.touched)">
          <span *ngIf="mdp.errors.requierd" class="erreur">Ne peut pas etre vide</span>
          <span *ngIf="mdp.errors.minlengh" class="erreur">Superieur ou egal a 4 caractere</span>
        </div>
        <p><input type="submit" value="Log in"></p>
      </form>
    </div>
  </div>
</div>

<footer style="margin-top: 60px">
  <!-- Footer Bottom Section Start -->
  <div class="footer-bottom-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copy-right">
            <p>&copy; 2017 Lyon Auto Clean Service.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Section End -->
</footer>
