
<div class="panel panel-primary" style="margin:40px;">
  <div class="panel-heading">
    <h3 class="panel-title" align="center">Mes informations</h3>
  </div>
<div class="container" style="margin-top: 10px">

    <div class="jumbotron" style="background-color: transparent;padding: 10px;">
      <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-9">
        <p align="left">
          <span class="glyphicon glyphicon-asterisk" aria-hidden="true" width="100px"></span>
          <strong>Nom</strong> : {{user.nom}} </p></div>

        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p align="left">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true" width="100px"></span>
            <strong>Prenom</strong> : {{user.prenom}} </p></div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p align="left">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true" width="100px"></span>
            <strong>Adresse</strong> : {{user.adresse}} </p></div>
        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p align="left">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true" width="100px"></span>
            <strong>Email</strong> : {{user.email}} </p>
        </div>

        <div class="col-md-3"></div>
        <div class="col-md-9">
          <p align="left">
            <span class="glyphicon glyphicon-asterisk" aria-hidden="true" width="100px"></span>
            <strong>Telephone</strong> : {{user.telephone}} </p>
        </div>

      </div>
      <div class="container" align="center">
        <button type="button" class="btn btn-success" >Modifier</button>
      </div>

    </div>

  </div>

</div>
