<!--&lt;!&ndash; Preloader Start &ndash;&gt;-->
<!--<div id="preloader">-->
  <!--<div id="preloader-status"></div>-->
<!--</div>-->
<!--&lt;!&ndash; Preloader End &ndash;&gt;-->
<!--&lt;!&ndash; Header Start &ndash;&gt;-->

<!-- Page Heading Section Start -->
<div class="pagehding-sec">
  <div class="images-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="page-heading">
          <h1>Service Detaillé</h1>
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="">Service Detaillé</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page Heading Section End -->

<!-- Service Details Section Start -->
<div class="about-us-sec pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="abt-img">
          <img src="../../assets/img/service_interieur.jpg" alt=""/>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="abt-lft">
          <h2>Intérieur</h2>
          <p>La poussière ne doit pas avoir sa place a l'interieurn de votre vehicule; les taches non plus. C'est dans cette optique que nous selectionnons les meilleurs produits et nous mettons a disposition nos employés qualifié pour donner un eclat
            à l'interieur de votre vehicule.
            <br> Aspirer et essuyer l'interieur de votre vehicule. Les restes de nourritures de vos enfants. Les coins et recoions de votre véhicule ne doivent paraitre comme neufs à votre passage.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-sec pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="abt-img">
          <img src="../../assets/img/service_exterieur.jpg" alt=""/>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="abt-lft">
          <h2>Extérieur</h2>
          <p>
            La carrosserie <br>
            Placez la voiture à l’ombre.
            Préparez un seau d’eau tiède mélangée à un produit nettoyant (un simple liquide vaisselle fera l’affaire).
            Mouillez la voiture avec un jet d’eau.
            Nettoyez la carrosserie avec un gant de lavage ou une éponge non abrasive. Après rinçage, repassez aux endroits les plus encrassés.
            Rincez abondamment avec un jet d’eau pour éliminer la mousse.
            Utilisez une peau de chamois pour sécher la carrosserie et les vitres, de manière à éviter l’apparition de taches dues au calcaire de l’eau évaporée.
            Passez ensuite un produit nettoyant antireflet sur les vitres (le premier nettoyage n’est souvent pas suffisant). Utilisez un chiffon doux et propre !
            <br><br>Les jantes<br>
            Les jantes se salissent rapidement en raison de la poussière provenant de l’usure des plaquettes de freins. 2 fois par an :
            Utilisez un produit nettoyant pour jantes (sans acide).
            Mouillez la jante avec un jet d’eau.
            Suivez ensuite les indications du fabricant. En général, il suffit de pulvériser, de laisser agir quelques minutes puis de frotter. Utilisez une brosse ou un pinceau dur pour atteindre les endroits difficiles.
            Les pneus
            Vous trouverez là encore des produits spéciaux dans le commerce. Comme pour les jantes, pulvérisez et laissez agir…</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-us-sec pt-50 pb-50">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="abt-img">
          <img src="../../assets/img/service_cuir.jpg" alt=""/>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="abt-lft">
          <h2>Etretient Cuir</h2>
          <p>L'utilisation de bons produits vous permettra de garder votre cuir à l'état neuf. D'éviter le craquellement, le jaunissement, la décoloration ou entre le transfert de couleur lié à un jeans par exemple.

            Un bon nettoyage sur des cuirs de quelques années vous permettra de récupérer la couleur d'origine. En effet, les cuirs beiges et blancs deviennent rapidement gris.

            Merci d'oublier toutes les choses que vous avez déjà entendu comme: crèmes hydratantes, Mixa bébé, huile de pied de boeuf. Tous ces produits sont très mauvais pour le cuir.
            <br>
            Nous vous assurons un entretien de qualité de vos sieges !!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Service Details Section End -->

<!-- Call To Action Section Start -->
<div class="call-to-action-sec">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="call-to-action-text">
          <h2>Plus d'information</h2>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="call-to-action-text">
          <a href="contact.html" class="btn">Nous contacter</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call To Action Section Start -->
<!-- Footer Section Start -->
<footer>
  <!-- Footer Bottom Section Start -->
  <div class="footer-bottom-sec">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copy-right">
            <p>&copy; 2017 All Right Reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Section End -->
</footer>
